%p#notice= notice
%p
  %strong Title:
  = @item.title
%p
  %strong Content:
  = @item.content
%p
  %strong Publish at:
  = @item.publish_at
= link_to 'Edit', edit_item_path(@item)
|
= link_to 'Back', items_path
